 <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h1>Burger Muncher</h1>
            <p>Dream it. Post it. Eat it.</p>
        </div>
      </div>
</div>

<div class="container">
  <div class="row menu-panel">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h3 class="text-success">Burger Menu</h3>

      <div class="menu-burger">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div class="burger">
              {{this.burger_name}}

              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button class="btn btn-danger" type="submit">omnomnom</button>
              </form>

            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h2>Add a Burger</h2>
        <div>
        <img src="/assets/img/burger.png" alt="happy-burger" width=166px>
        </div>
          <form class="create-update-form" action="burgers/create" method="POST">

            <div class="form-group">
              <label for="bg">Burger Name:</label>
              <input type="text" id="bg" name="burger_name">
            </div>

            <div class="form-group">
              <input type="hidden" name="devoured" value="0"> 
            </div>
            <button class="btn btn-warning" type="submit">Add Burger</button>
            </form>

            <form class="create-update-form">

            <button id="add" class="btn btn-info" type="submit">Login</button>
            </form>
          
            
            
          </form>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h3 class="text-success">Recently Devoured</h3>

        <div class="menu-burger">
          {{#each burgers}}
            {{#if this.devoured}}
              <div class="burger">
                {{this.burger_name}}

                <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="false">
                  <button class="btn btn-success" type="submit">Make Again!</button>
                </form>

              </div>
            {{/if}}
          {{/each}}
        </div>
    </div>

  </div>
</div>


<!--Modal for login screen  -->
        <div id="loginModal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body"><h2>Login</h2>
                    <form action="/auth/github">
                    <button id="login">Login with GitHub</button> 
                   <a href="/auth/github">Login with GitHub</a>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal"
                        type="button">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


<script>
$("#add").on("click", function(){
$("#loginModal").modal('toggle');
return false;
});
</script>
